@import 'abstracts/fonts';
@import 'abstracts/colors';
@import 'components/main-content-wrapper';
@import 'mixins/align_center.scss';
@import 'mixins/full_screen';

body {
    margin: 0px;
    padding: 0px;
    font-family: $avenir;

    header {
        height: $frame-width;

        nav {
            height: 100%;

            .nav-links {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 0px;
                margin: 0px;

                li {
                    list-style: none;
                    height: 100%;

                    a {
                        text-decoration: none;

                        .logo {
                            height: 5vh;
                            padding-top: .6vh;
                        }
                    }
                }
            }
        }
    }

    .main-content {
        @include frame;
        border-top: 0px;
        height: 88vh;
        background: linear-gradient(90deg, $deep-blue 50%, $pale-grey 50%);

        #hello-page {
            @include center-center;
            height: 100%;

            .hello-wrapper {
                .hello {
                    font-family: $futura-bold;
                    font-weight: bolder;
                    text-transform: uppercase;
                    margin: 0px;
                    color: $vale-yellow;
                    font-size: 10rem;
                    line-height: 1em;

                    .hello-bang {
                        color: $deep-blue;
                    }
                }
            }
        }

        #about-page {
            @include full-screen;
            @include center-center;
            background-color: $deep-blue;
            position: relative;


            .about-desc-wrapper {
                min-width: 10vw;
                max-width: 20vw;


                .my-name-is {
                    font-family: $avenir-bold;
                    color: white;
                }

                .about-desc {
                    font-family: $avenir-bold;
                    color: $vale-yellow;
                }
            }

            .tom-img-wrapper {
                width: 40%;
                
                img {
                    position: absolute;
                    width: 30%;
                    transform: rotateY(180deg);
                    right: 6vw;
                    bottom: 0px;
                }
            }
        }
    }
}