@import '../abstracts/colors';

$frame-width: 4vh;
$main-frame-style: $frame-width solid $vale-yellow;

@mixin frame {
    border-left: $main-frame-style;
    border-right: $main-frame-style;
    border-bottom: $main-frame-style;
}